$font-55Roman : "HelveticaNeueW02-55Roma",Helvetica,sans-serif;
$font-77BdCn : "HelveticaNeueW02-77BdCn_694066",Helvetica,sans-serif;
$obRed: #E72B1F;
$tnfRed:#e72b1e;

$small: 640px;
$medium: 1024px;



%newFont {
  font-family: "Neue Helvetica VFDP", helvetica, sans-serif;
  font-weight: 700;
}


@keyframes bounce {
    from,
    10%,
    26%,
    40%,
    50%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(-50%, 0, 0);
    }
    20%,
    21% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(-50%, -12px, 0);
    }
    35% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(-50%, -6px, 0);
    }
    45% {
        transform: translate3d(-50%, -2px, 0);
    }
}