$font-55Roman : "HelveticaNeueW02-55Roma",Helvetica,sans-serif;
$font-57Cond : "HelveticaNeueLTW02-57Cond",Helvetica,sans-serif;
$font-77BdCn : "HelveticaNeueW02-77BdCn_694066",Helvetica,sans-serif;
$obRed: #E72B1F;
$tnfred:#e72b1e;
$tnfblack:#000000;
$tnfaltblack:#2a2a2a;
$tnflightgrey:#cccccc;
$tnfmediumlightgrey:#aaaaaa;
$tnfmediumgrey:#959595;
$tnfmediumdarkgrey:#808080;

$extrasmall:300px;
$small: 640px;
$medium: 1024px;


$SaleRed: #E72B1E;


