.tnf-custom{

%helvNeueFont {
    font-family: "Neue Helvetica VFDP", helvetica, sans-serif;
}

%helvNeueCondFont {
    font-family: "Neue Helvetica VFDP Cond", helvetica, sans-serif;
    font-weight: 700;
}

%CondFont {
    @extend %helvNeueCondFont;

    letter-spacing: .03em;
    font-weight: 500;
}




%size0 {
    // font-size: 6.77083vw;
    font-size: 2.923rem;
    @media (min-width: $small) {
        
        font-size: 4.154rem
    }

    @media (min-width: $medium) {
         font-size: 7.8rem;
    }
}

%size1 {
    // font-size: 6.77083vw;
    font-size: 2.308rem; 
    @media (min-width: $small) {
        font-size: 2.923rem;
    }

    @media (min-width: $medium) {
        font-size: 2.923rem;
    }
}

%size2 {
    // font-size: 6.77083vw;
      font-size: 2.154rem; //28px
    @media (min-width: $small) {
        font-size: 2.615rem;
    }

    @media (min-width: $medium) {
         font-size: 2.615rem;
    }
}

%size3 {
    // font-size: 6.77083vw;
      font-size: 2rem; //26px
    @media (min-width: $small) {
        font-size: 2.154rem; //28px
    }
    
    @media (min-width: $medium) {
        font-size: 2.154rem;
    }
}

%size4 {
    // font-size: 6.77083vw;
    font-size: 1.385rem; //16px
    @media (min-width: $small) {
        font-size: 1.846rem; //24px
    }

    @media (min-width: $medium) {
        font-size: 1.846rem;
    }
}

%size5 {
    // font-size: 6.77083vw;

       
        font-size: 1.846em; //16px
    @media (min-width: $small) {
        
        font-size: 1.615rem;//21px
    }

    @media (min-width: $medium) {
        font-size: 1.615rem;
    }
}

%size6 {
    // font-size: 6.77083vw;
     font-size: 1.385em; //15px
    @media (min-width: $small) {
        //21px
        font-size: 1.538rem; //20px
    }

    @media (min-width: $medium) {
        font-size: 1.538rem;
    }
}


%size7 {
    font-size: 1.077rem; //14px
    @media (min-width: $small) {
        font-size: 1.385rem; //18px
    }

    @media (min-width: $medium) {
        font-size: 1.385rem;
    }
}

%size8 {
      font-size: 1.231rem; //16px
    @media (min-width: $small) {
        font-size: 1.231rem; //16px
    }

    @media (min-width: $medium) {
        font-size: 1.231rem; //16px
    }
}

%size9 {
    font-size: 1.154rem; //15px
    @media (min-width: $small) {
        font-size: 1.154rem; //15px
    }

    @media (min-width: $medium) {
        font-size: 1.154rem;
    }
}

%size10 {
     font-size: 1.077rem; //14px
    @media (min-width: $small) {
        font-size: 1.077rem; //14px
    }

    @media (min-width: $medium) {
        font-size: 1.077rem; //14px
    }
}

%size11 {
   font-size: 1.154rem;
    @media (min-width: $small) {
        font-size: 1.000rem; //13px
        
    }

    @media (min-width: $medium) {
        font-size: 1.000rem; //13px
    }
}

%size12 {
     font-size: .923rem; //12px
    @media (min-width: $small) {
        font-size: .923rem; //12px
    }

    @media (min-width: $medium) {
        font-size: .923rem; //12px
    }
}

%weight-xxlight {
    font-weight: 200;
}

%weight-xlight {
    font-weight: 300;
}

%weight-light {
    font-weight: 400;
}

%weight-medium {
    font-weight: 500;
}

%weight-bold {
    font-weight: 700;
}

%weight-xbold {
    font-weight: 800;
}



h1,
h2,
h3,
h4,
h5,
h6,
.subheader {
    @extend %helvNeueCondFont;
    @extend %weight-medium;
    letter-spacing: .03em;
    line-height: 1;
    font-weight: 500;
}

.subheader {
    line-height: inherit;
}

.overline{
    @extend %helvNeueCondFont;
     @extend %size4;
    @extend %weight-xlight;
    text-transform: uppercase;

}

h1 {
    @extend %size1;
    //PDP h1
    &.typ-2{
        @extend %helvNeueFont;
         @extend %size3;

        letter-spacing: normal;
        text-transform: capitalize;
        @media (max-width: $small - 1 ){
            font-size: 1.692em;
            letter-spacing:.03em;
        }

    }
    
}

h2 {
    @extend %size2;
}

h3 {
    @extend %size3;
}

h4 {
    @extend %size5;
}

h5 {
    @extend %size6;
}

h6 {
    @extend %size7;
}

p {
    @extend %helvNeueFont;
    @extend %weight-xlight;
    color: $tnfaltblack;
    font-size: 1.231rem;
    line-height: 1.5;
    letter-spacing: .04rem;

    @media (min-width: $small) {
        font-size: 1.231rem;
        padding: 0;
    }

    @media (min-width: $medium) {
        font-size: 1.231rem;
    }

    &.small {
        @extend %size10;
    }
    &.bold{
        font-weight:500;

    }
}

legend {
    @extend %helvNeueFont;
    @extend %weight-medium;
    font-size: 1.231rem;
    line-height: 1.5;
}

label{
    @extend %helvNeueFont;
    @extend %weight-xlight;
    font-style:inherit;
    padding-bottom: .8em;
    font-size: 1.231rem;
    line-height: 1.5;
}

.voice{
     @extend %helvNeueFont;
     letter-spacing: normal;
     font-weight: bold;
}
h1.voice{
    @extend %size0;
}
h2.voice{
    @extend %size3;
}
h3.voice{
    @extend %size4;
}
h4.voice{
    @extend %size5;
}
.strike{
    text-decoration:line-through;
}


/*  TITLES */
.title {
    @extend %helvNeueCondFont;
    @extend %size4;
    @extend %weight-bold;

    letter-spacing: .03em;
    line-height: 1;

    text-transform: uppercase;
    &.light {
        @extend %weight-xlight;
         text-transform: capitalize;
    }
    &.typ-2 {
        @extend %size8;
        @media( max-width: $small - 1){
            font-size: 1.385rem;
        }
    }
    &.disabled {
        color: #ccc;

    }

}


/*  PRODUCT and PRICE NAMES */
 .product-name, .price{
     @extend %helvNeueCondFont;
    @extend %size5;
    @extend %weight-light;
    letter-spacing: .03em;
    line-height: 1;
    text-transform: capitalize;

     @media( max-width: $small - 1){
            font-size: 1.231rem;
        }
    &.secondary {
        @extend %weight-light;
    }
    &.typ-2 {
        @extend %size7;
         @media( max-width: $small - 1){
            font-size: 1.154rem;
        }
    }
    &.typ-3 {
        @extend %size8;
         @media( max-width: $small - 1){
            font-size: 1.077rem;
        }
    }
    &.disabled {
        color: #ccc;

    }
    &.tnfred{
        color: $tnfred;

    }

}



.price{
    font-weight: 300;
    &.bold{
        font-weight: 500;
    }
}

    
/*  Text Links */

a, .text-link {
    @extend %helvNeueCondFont;

    @extend %size7;

    line-height: 1;
    font-weight: 400;
    color: #2a2a2a;
    text-transform: uppercase;

    &:hover {
        color: $SaleRed;
    }
}
// a., .text-link {
    
//     .medium{
//         font-weight: 500;
//     }

// }

a.medium {
    font-weight: 500;
}

p a {
    font-family: inherit;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: inherit;
    line-height: inherit;
}

ul {li{
    @extend %helvNeueFont;
    @extend %weight-xlight;
    color: $tnfaltblack;
    font-size: 1.231rem;
    line-height: 1.5;
    letter-spacing: .04rem;
    margin-top:.5em;
    list-style-position: outside;

    @media (min-width: $small) {
        font-size: 1.231rem;
        padding: 0;
    }

    @media (min-width: $medium) {
        font-size: 1.231rem;
    }
   

}
&.small li{
     @extend %size10;


}
}

}
