
/*
################
NORTH FACE  BUTTONS
################
*/

.tnf-custom{

//base styles for page layout example
p{
margin-top:1em;
}

//extra small button padding
%extraSmallPadding{

    @media (min-width: $small) {
        padding-right:0.231em; //3px
        padding-left:0.231em;//3px
    }

    @media (min-width: $medium) {
        padding-right:0.231em; //3px
        padding-left:0.231em;//3px
    }
}

// small button padding
%smallPadding{

    @media (min-width: $small) {
        padding-right:2rem; //26px
        padding-left:2rem; //26px
    }

    @media (min-width: $medium) {
        padding-right:2rem; //26px
        padding-left:2rem; //26px
    }
}

// medium button padding
%mediumPadding{

    @media (min-width: $small) {
        padding-right:3.5rem; //45px
        padding-left:3.5rem; //45px
    }

    @media (min-width: $medium) {
        padding-right:3.5rem; //45px
        padding-left:3.5rem; //45px
    }
}

// large button padding
%largePadding{

    @media (min-width: $small) {
        padding-right:5rem; //65px
        padding-left:5rem; //65px
    }

    @media (min-width: $medium) {
        padding-right:5rem; //65px
        padding-left:5rem; //65px
    }
}

// extra large button padding
%extraLargePadding{

    @media (min-width: $small) {
        padding-right:7rem; //91px
        padding-left:7rem; //91px
    }

    @media (min-width: $medium) {
        padding-right:7rem; //91px
        padding-left:7rem; //91px
    }
}


// default button parent element. This is what sets up our main button styles
%standardButton{

		@extend %CondFont;
		font-weight:400;
		border-radius: 2px;
		transition: all .2s ease-out;
		font-smooth: antialiased;
		letter-spacing:0.1rem; //10px
		margin:0;
    
    padding: .76em 1em .68em ;
}


// children button styles based off the parent. For example: primary, secondary, small to extra-large sizes 

.button{
		
		@extend %standardButton;

		//small button text	
		&--small{
		// @extend %smallPadding;
		@extend %size10;
    min-width:100px;
   
		}

		//medium button text
		&--medium{
		// @extend %mediumPadding;
		@extend %size8;
     min-width:136px;

		}

		//large button text
		&--large{
		// @extend %largePadding;
		@extend %size6;
     min-width:183px;
     padding-top: .55em;
     padding-bottom: .5em;

		}



		//extra large button text
		&--extra-large{
		@extend %size4;
      min-width:240px;
      padding-top: .6em;
      padding-bottom: .5em;
		}

		&--disabled{
			
			background-color:$tnflightgrey;
			color:#fff;
			cursor:not-allowed;
		}

		&--secondary{
		background-color:$tnfblack;
		border-color:$tnfblack;
		border-width:1px;
		border-style:solid;
		color:white;

			&:hover {
				opacity:.75;
			}
		}

		&--primary{
		
		border-color:$tnfred;
		border-width:1px;
		border-style:solid;

			&:hover{
				border-color:$tnfblack;
				border-width:1px;
				border-style:solid;
			}
      &.alt-1{
        background-color: #fff;
        color: $tnfblack;
        border:1px solid $tnfblack;
        &:hover{
          background: $tnfblack;
          color: #fff;
        }
      }
		}

		&--transparent{
		background-color: rgba(255,255,255, .75); 
		color:$tnfblack;
		border-color:$tnfblack;
		border-width:1px;
		border-style:solid;

			&:hover {
				background-color: rgba(42,42,42, .75); 
				color:white;
				border-color:white;
				border-width:1px;
				border-style:solid;
			}
		}

		&--transparent__inverse{
		background-color: rgba(42,42,42, .75); 
		color:white;
		border-color:white;
		border-width:1px;
		border-style:solid;

			&:hover {
				background-color: rgba(255,255,255, .75);
				color:$tnfblack;
				border-color:$tnfblack;
				border-width:1px;
				border-style:solid;
			}
		}


	@media (max-width: $small) {
        width:100%;
    }
		
}

}
