.close{
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  float:right;
  margin-right:2em;
  margin-top:2em;
  transition: all .2s ease-in-out;
  z-index: 1000001;

  &:hover{
  	transform: scale(1.2);
  	cursor:pointer;
  }

  	&::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    margin-top: -1px;
    background: white;
  }

  &::after{
  	transform: rotate(-45deg);
  }

  &::before{
  	transform: rotate(45deg);
  }

  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
  &.black {
    &::before, &::after {
      height: 8px;
      margin-top: -4px;
    }
  }
  &.heavy {
    &::before, &::after {
      height: 12px;
      margin-top: -6px;
    }
  }

  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
}