.tnf-custom{

.checkout-form{
	margin-bottom:2em;
}

		fieldset {
		  padding: 0;
		  margin: 0;
		  border: 0;
		  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
		  // so we reset that to ensure it behaves more like a standard block element.
		  // See https://github.com/twbs/bootstrap/issues/12359.
		  min-width: 0;
		}


		// Common form controls
		//
		// Shared size and type resets for form controls. Apply `.form-control` to any
		// of the following form controls:
		//
		// select
		// textarea
		// input[type="text"]
		// input[type="password"]
		// input[type="datetime"]
		// input[type="datetime-local"]
		// input[type="date"]
		// input[type="month"]
		// input[type="time"]
		// input[type="week"]
		// input[type="number"]
		// input[type="email"]
		// input[type="url"]
		// input[type="search"]
		// input[type="tel"]
		// input[type="color"]
.form-container{

	& sup {
		color:$tnfred;
		font-size:1em;
		top: -2px;
	}

	& .invalid{
			@extend %helvNeueFont;
			margin-top:-10px;
			color:$tnfred;
		}

	& .email-form{
	padding-right: 1em !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	}
}


	
.field-label{
			font-size: .85em;
			padding-left: .85em;
			z-index: 1;
			padding-top: .25em;
			position:absolute;
			opacity:0;
			visibility:hidden;
			-ms-transition: all .25s ease-in-out 0s;
			-moz-transition: all .25s ease-in-out 0s;
			-webkit-transition: all .25s ease-in-out 0s;
			transition: all .25s ease-in-out 0s;
			font-weight:600;
			
}



.field-label-visible{

	& .form-control{
		padding-top: 1.4em;
		padding-bottom: 0.35714em;
	}

	& .form-select{
		padding-top: 1em !important;
		padding-bottom: 0.35714em;
	}

	& .email-form{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	& .field-label{
		opacity:1;
		visibility: visible;
	}
}

.css-only-form{

	&:focus{
		padding-top: 1.4em;
		padding-bottom: 0.35714em;
	}
}

.field-label-alt{
  color:$tnfmediumgrey;
  padding-left: .5em;
  font-size: 1.2em;
  top:10px;
  position:absolute;
  pointer-events:none;
  -ms-transition: all .25s ease-out 0s;
  transition: all .1s ease-out 0s;
  -moz-transition: 0.1s ease-out all; 
  -webkit-transition: 0.1s ease-out all;

}
 


.field-wrapper-notes{

	& .form-control{
		min-width:$extrasmall;
		@extend %helvNeueFont;
			  display: block;
			  height:3.4rem;
			  float:left;
			  position:relative;
			  border-radius: 2px;
			  background-color:white;
			  border: 2px solid $tnflightgrey;
			  font-size: 1.25em;

			  &::placeholder{
			  	color:$tnfmediumdarkgrey;
			  	font-weight:300;
			  	letter-spacing:.04em;
			  }
			
				 &::moz-selection{
				 	background:$tnflightgrey;
				 	
				 }

				 &::selection{
				 	background:$tnflightgrey;
				 	
				 }

				 &:hover{
				 	border: 2px solid $tnfmediumgrey;
						
				 }

				 &:focus{
				 	border: 2px solid $tnfaltblack;
				 }
	}
}


.field-wrapper{

	position:relative;
	width:100%;

		&.field-half {
				 	width:50%;
				 	float:left;

				 &:nth-child(odd){
				 	padding-right:1em;
				 	@media (max-width: $small) {
	        		padding-right:0px;
	    			}
				 }

				 @media (max-width: $small) {
	        		width:100%;
	    			}

	}

		&.field--three-eigths{
				width: 37.5%;
				float:left;

				&:nth-child(n+2){
				 	padding-right:1em;

				 	@media (max-width: $small) {
	        		padding-right:0px;
	    			}


				 }

				 @media (max-width: $small) {
	        		width:100%;
	        		padding-right:0px;
	    			}
		}

		&.field-quarter{
			width:25%;
			float:left;
				@media (max-width: $small) {
	        		width:100%;
	        		padding-right:0px;
	    			}
		}

		.field-help{
				opacity:0;
				@extend %helvNeueFont;
				color: $tnfmediumgrey;
				display:inline;
				top: -6px;
				position:relative;
				-ms-transition: all 300ms ease-in-out 0s;
				transition: all 300ms ease-in-out 0s;
		}

	     
		


		.checkbox{
			border-radius:2px;
			width: 1.25em;
			height: 1.25em;
			border: 2px solid $tnflightgrey;

			&:checked{
				border: 2px solid $tnfred;
			}

			&:not(:checked):hover{
				border: 2px solid $tnfmediumgrey;
				cursor:pointer;
			}

			&:checked::after{
				background:$tnfred;
				border: 2px solid $obRed;
				color:white;
				line-height:1;
				top:50%;
				transform:translateY(-50%);
			
			}

		}

		.radio{
			border: 1px solid $tnflightgrey;
			margin-top: .01em;
			margin-right: 0;
			width: 1.25em;
			height: 1.25em;

			&:checked{
				border: 2px solid $tnfaltblack;
			}

			&:not(:checked):hover{
				border: 2px solid $tnfmediumgrey;
				cursor:pointer;
			}

			&:checked::after{
				background:$tnfred;
				width:12px;
				height:12px;
			
			}

		}

		.field-help-control:focus{

			 		& ~ .field-help{
			 		opacity:1;
			 		top: -12px;
			 		-ms-transition: all 300ms ease-in-out 0s;
					transition: all 300ms ease-in-out 0s;
			 		}

		}
			  
		.form-control{
			 @extend %helvNeueFont;
			  display: block;
			  height:3.5rem;
			  float:left;
			  position:relative;
			  font-size: 1.231rem;
			  border-radius: 2px;
			  background-color:white;
			  border: 2px solid $tnflightgrey;
			  -ms-transition: all 100ms ease-in-out 0s;
			  transition: all 100ms ease-in-out 0s;



			  &::placeholder{
			  	color:$tnfmediumdarkgrey;
			  	font-weight:300;
			  	letter-spacing:.04em;
			  }
			
				 &::moz-selection{
				 	background:$tnflightgrey;
				 	
				 }

				 &::selection{
				 	background:$tnflightgrey;
				 	
				 }

				 &:hover{
				 	border: 2px solid $tnfmediumgrey;
						
				 }

				 &:not(:placeholder-shown){

				 	& ~ .field-label-alt{

				  	font-size: .85em;
					padding-left: .85em;
					margin-top:-5px;
					color:$tnfmediumgrey;
					-ms-transition: all .25s ease-in-out 0s;
					-moz-transition: all .25s ease-in-out 0s;
					-webkit-transition: all .25s ease-in-out 0s;
					transition: all .25s ease-in-out 0s;
					font-weight:500;
					visibility: visible;
  					opacity:1;

				  }
				 	

				 }



				 &:active{
				 	border: 2px solid $tnfaltblack;

				

				 	& ~ .field-label-alt{

				  	font-size: .85em;
					padding-left: .85em;
					margin-top:-5px;
					color:$tnfmediumgrey;
					-ms-transition: all .25s ease-in-out 0s;
					-moz-transition: all .25s ease-in-out 0s;
					-webkit-transition: all .25s ease-in-out 0s;
					transition: all .25s ease-in-out 0s;
					font-weight:500;
					visibility: visible;
  					opacity:1;

				  }
				 }


				 &.border-heavy:focus{
						border: 2px solid $tnfaltblack !important;
					}

				 &:focus{
				 	border: 2px solid $tnfaltblack;

				 	

				 	& ~ .field-label-alt{

				  	font-size: .85em;
					padding-left: .85em;
					margin-top:-5px;
					color:$tnfmediumgrey;
					-ms-transition: all .25s ease-in-out 0s;
					-moz-transition: all .25s ease-in-out 0s;
					-webkit-transition: all .25s ease-in-out 0s;
					transition: all .25s ease-in-out 0s;
					font-weight:500;
					visibility: visible;
  					opacity:1;

				  }

			 	}

			 	&:valid{

			 		& ~ .invalid-error {
			 			display:none;
			 			visibility:hidden;
			 			color: $tnfred;
			 			margin-top:-20px;
			 			 -ms-transition: all 100ms ease-in-out 0s;
			  			transition: all 100ms ease-in-out 0s;
			 			position:relative;
			 		}
			 	}

			 	&:invalid{

			 	border: 2px solid $tnfred;

			 		& ~ .invalid-error {
			 			display:inline-block;
			 			margin-top: -5px;
						padding-bottom: 1em;
						 -ms-transition: all 100ms ease-in-out 0s;
			  			transition: all 100ms ease-in-out 0s;
						color:$tnfred;
			 		}
			 	}
			 &.invalid-error-alt{
			 	border: 2px solid $tnfred;

			 }

			 &.invalid-error-altbg{
			 	border: 2px solid $tnfred;
			 	background: #FEF4f4;

			 }
			
			 &.text-area{
			  	min-width:$extrasmall;
			 }

			 &.invalid-error{
					border: 2px solid $tnfred;

					&:hover{
						border: 2px solid $tnfred;
					}

					&:focus{
						border: 2px solid $tnfred;
					}
			 }
		}

	}



}


.content, .parsys{
background-color:white;
}

.grid_column{
padding-right:1.5em;
padding-left:1.5em;
}
.info h5{
font-family: "Neue Helvetica VFDP",helvetica,sans-serif !important;
font-weight:700 !important;
}

b{
font-family: "Neue Helvetica VFDP",Helvetica,sans-serif;
font-weight:700;
}

video{
width:100%;
}
.cali-wool-shop-cta{
margin-bottom: 7% !important;
}


.button{
font-family: "Neue Helvetica VFDP Cond",Helvetica,sans-serif;
font-weight:500;
display: block;
max-width: 350px;
margin: auto;
letter-spacing: .02em;
}

.wroot{
background-color:white;
}

.tnf-custom p a{
text-decoration:underline;
color:black;
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
text-transform:none;
font-weight: 700;
}

.tnf-custom p a:hover{
color:#e72b1e;
}

.tnf-custom h1{
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
font-size:6em;
line-height: 1em;
font-weight:700;
letter-spacing:.02em;
}

.tnf-custom-cali-wool-video h4{
text-transform:none;
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
font-weight:500;
padding-top: 1em;
}

.tnf-custom-cali-wool-video h1 span{
white-space:nowrap;
}

.tnf-custom{
background-color:white;
margin-bottom:3em;
margin-top:3em;
}

.tnf-custom p{
font-size: 1.3em;
font-weight: 300;
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
}

.fast-company{
margin:auto;
padding-top:4em;
padding-bottom:4em;
background-color:#f6f6f6;
}

.fast-company a{
text-transform: lowercase;
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
text-decoration: underline;
color: black;
font-weight:500 !important;
}

.fast-company a:hover{
color:#e72b1e;
}

.fast-company p{
max-width:600px;
text-align:center;
margin: auto;
}

.fast-company span{
white-space:nowrap;
}

.tnf-custom h3{
margin-bottom:1em;
text-transform: none;
text-align:center;
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
letter-spacing: .001em;
}

.model-shot{
margin-left: auto;
margin-right: auto;
display:block;
padding:2em;
}

.cali-wool-model-feature a{
white-space: nowrap;
}

.intro-wool{
max-width:650px;
}

.intro-wool p {
font-size: 1.3em;
font-weight: 300;
padding-left:1.5em;
padding-right:1.5em;
margin-bottom: 0px;
}

.grid_row{
background-color:white;
}

.sustainable-wool{
padding-top:3em;
padding-bottom:3em;
padding-left:1em;
padding-right:1em;
}

.sustainable-wool p{
font-size: 1.5em;
font-weight: 300;
margin-top:2em;
margin-bottom:2em;
line-height:2.25em;
padding-left:2em;
}

.process-wool h4{
font-weight: 600;
margin-bottom:1em;
margin-top:2em;
text-align:center;
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
}

.process-wool h2{
font-weight: 500;
margin-bottom:1em;
text-align:center;
text-transform:none;
padding-top: 2em;
font-family: "Neue Helvetica VFDP",helvetica,sans-serif;
letter-spacing: .02em;
}


.process-wool p {
text-align:center;
padding:1em;
}

.process-wool p a {
font-weight:500 !important;
}

.process-wool img {
max-width: 150px;
display: block;
margin: auto;
margin-bottom: 2em;
}

 @media screen and (max-width: 1024px) {

.tnf-custom-cali-wool-video h1{
font-size:4em;
}
}

 @media screen and (max-width: 640px) {

.cali-wool-model-feature a {
display:block;
}

.cali-wool-shop-cta{
padding:1em;
}
.cali-wool-products{
margin-top:1em;
overflow:hidden;
}

.cali-wool-products, .grid_column{
padding-right:.5em;
padding-left:.5em;
}
.intro-wool p{
margin-top:-10px;
margin-bottom:2em;
}


.cali-wool-model-feature{
margin-top:-30px;
}

.cali-wool-model-feature p {
padding-right:1.5em;
padding-left:1.5em;
}
.tnf-custom h3{
font-size: 2em;
font-weight: 300;
margin-bottom:.5em;
}

.sustainable-wool p {
padding-left:0px;
margin-top:2em;
font-size:1.25em;
margin-bottom:1em;
}
.process-wool img{
margin-bottom:0px;
}
.process-wool h4{
font-size: 1.4em;
margin-bottom: 0px;
margin-top: -10px;
}

.process-wool h2{
margin-bottom:2em;
}

.process-wool p{
padding-bottom:2em;
}

.fast-company{
padding-bottom:3em;
margin-bottom:2em;
}
.fast-company p {
	padding:1em;
margin-top:-15px;
}

.sustainable-wool{
	padding-bottom:0px;
margin-top:-40px
}

.image_with_overlay2  .overlay-content{
padding:0px;
}

.tnf-custom-cali-wool-video h1{
font-size:2.5em;
}

}

