.playButton{
position: absolute;
right: 0;
left: 0;
top: 50%;
width: 60px;
height: 60px;
background: url(https://images.thenorthface.com/is/content/TheNorthFaceBrand/playbutton-hollow) no-repeat;
background-size: auto auto;
background-size: cover;
font-weight: 700;
-webkit-transition: all 200ms ease-out;
transition: all 200ms ease-out;
z-index: 10;
margin: 0 auto;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
opacity:0;
cursor: pointer;
}

.playButtonActive{
opacity: 1;
display: block;
-webkit-transition: all 200ms ease-out;
transition: all 200ms ease-out;
-webkit-transform: translateY(-50%) scale(1);
transform: translateY(-50%) scale(1);
cursor: pointer;
width: 60px;
height: 60px;
}

.hide-youtube-branding{
	width:300px;
	height:75px;
	top:0px;
	right:0px;
	background-color:black;
	position:absolute;
	z-index:2;
}

iframe{
	display:inline-block;
	width:100%;
	transition: all .150ms ease-out;
	z-index: 1;
    position:relative;
   

}


.fadeIn{
	opacity:1;
	display:inline-block;
	animation:fadeIn;
}

.fadeOut{
	opacity:0;
	z-index:1;
}


@media (min-width:1024px)
{
	.playButton{
	width:110px;
	height:110px;
	}

}