//#beta.vfrs.tnf.sg.beta{

  .tnf-custom{

.videoSection{

  padding-left:0px;
  padding-right:0px;

   img{
    width:100%;
    height:100%;
    animation-name: fadeIn;
    animation-duration: 250ms;
    animation-timing-function: linear;
    z-index:2; 
    position:absolute;

    &:hover{
      cursor:pointer;
    }
   }

}


}