// CATAGORY LANDING PAGES
.tnf-custom{
.product-lane-view-all.view-all, .product-lane-arrow.icon-arrow-right-indicator-open.graphic-js{
  display:none;
}


h1.page-breadcrumb-token{
  @extend %size7
}

a{
  h1,h2,h3,h4,h5,h6{
    color:inherit;
  }
}

.product-block .info .rating-container {

  margin: .8em 0;
}
.product-block .info .rating-container .rating{

  font-size: .9em;
  color:#2A2A2A;
  .active{
    color: #2A2A2A;
  }
}

.pDI {
 padding:1.692em 0 1.154em;
 background: transparent;
}


.pdp.pdp-swatches #product-detail #product-form .product-attr-form>section.step-container:not(.attr-color) .attr-box, 
.pdp-swatches.pdp-drawer #product-detail #product-form .product-attr-form>section.step-container:not(.attr-color) .attr-box,
.pdp.pdp-swatches #product-detail #product-form .product-attr-form section.step-container:not(.attr-color) .attr-box,
.pdp-swatches.pdp-drawer #product-detail #product-form .product-attr-form section.step-container:not(.attr-color) .attr-box,
.pdp-drawer .product-detail #product-form .product-attr-form>section.step-container:not(.attr-color) .attr-box,
.pdp-drawer .product-detail #product-form .product-attr-form section.step-container:not(.attr-color) .attr-box{

  @extend %helvNeueFont;
  font-style: normal;
}

}